/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin: 0;padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}
/* -------------------- */

* { box-sizing: border-box; }

body {
  background: #FFF;
  color: #0F5361;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.62;
  max-width: 500px;
  padding: 32px;
}

body::before {
  content: '';
  height: 24px;
  width: 100%;
  background: rgb(255,221,51);
  background: linear-gradient(90deg, rgba(255,221,51,1) 0%, rgba(250,148,75,1) 12%, rgba(247,111,157,1) 24%, rgba(96,48,191,1) 48%, rgba(11,112,214,1) 60%, rgba(0,133,133,1) 84%, rgba(0,158,79,1) 100%);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9001;
}

*::selection { background: #FFDD33; color: #0F171F; }
*::-moz-selection { background: #FFDD33; color: #0F171F; }

header {
  margin: 48px 0 32px;
}

h1 {
  color: #008585;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

h2 {
  color: #0F2E3D;
  font-weight: 700;
  line-height: 1.38;
}

h3 {
  color: #0F2E3D;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

#about {
  margin: 32px 0 24px;
}

p {
  margin: 12px 0;
}

a { color: #0B70D6; font-weight: 700; text-decoration: none; display: inline-block;}
a:hover, a:visited:hover { color: #0F5361; }
a:active { color: #F76F9D; }
a:visited { color: #6030BF; }

em {
  font-weight: 700;
}

.marketing {color:#F06C3C;}
.product {color:#008585;}
.iconography {color:#6030BF;}
.identity {color:#F24949;}

#files {
  margin: 32px 0;
}

.btn {
  background: #008585;
  border: none;
  border-radius: 8px;
  color: #F0FAF7;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.62;
  margin: 0 12px 0 -8px;
  padding: 16px 24px 16px 20px;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  color: #FFF;
  background: #6030BF;
}

.portfolio {
  color: #F76F9D;
  font-size: 16px;
  margin: 16px 0;
}

.portfolio:hover {
  color: #6030BF;
}

#signoff {
  margin: 24px 0 72px;
}

.signature {
  color: #008585;
  font-family: 'Caveat', cursive;
  font-size: 24px;
  transform: skewY(-8deg);
  margin-top: -24px;
}

#social a {
  font-size: 16px;
  font-weight: 400;
}

footer small {
  color: #008585;
  display: inline-block;
  font-size: 12px;
  margin: 24px 0;
}

/*------------------------*/

@media (min-width: 560px) {
  body {
    margin: 0 auto;
  }
  .btn {
    margin-bottom: 24px;
  }
  .signature {
    margin-top: -32px;
  }
}

/*------------------------*/
/*
@media (min-width: 800px) {
  body { max-width: none; }
  #primary {
    float: left;
    margin-right: 64px;
    max-width: 480px;
  }
  .social { float: left; display: block; }
  .social h3 { padding-top: 64px; }

  footer {
    clear: both;
  }
}
*/
